body {
    margin: 0;
}

.main {
    position: relative;
    width: 1440px;
    height: 800px;
    background: no-repeat url(images/Rectangle1.svg);
}

.header {
    display: flex;
    width: 1244px;
    height: 66px;
}